@mixin flex {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}
h1 {
  font-family: 'Playball', display;
  font-size: 2rem;
  text-shadow: 1px 1px 15px black;
}

#navbar {
  @include flex;
  background: linear-gradient(#44344f);
  width: 100vw;
  padding: 0;
}

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/
