@mixin flex {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}
#main {
  @include flex();
  width: 90vw;
  height: 80vh;
  border-radius: 50px;
  background: #3c4f58;
  box-shadow:  -8px 8px 16px #33434b,
               8px -8px 16px #455b65;
  position: sticky;
  top: -15px;
}
li {
  padding: 2rem;
  margin: 1.3rem;
  margin-right:30%;
  font-family: "Urbanist";
  background: linear-gradient(rgb(26, 255, 179) 80%,  #44344f);
  border-radius: 84px;
  box-shadow: 0.5px 2.5px 3px black;
  border-top-left-radius: 5px;
  text-align: left;
}

ul {
  display: block;
  list-style-type: none;
  align-content: left;
  justify-items: left;
  overflow: none;
  overflow-y: scroll;
}
