@mixin flex {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}
#main {
  @include flex();
  width: 90vw;
  height: 80vh;
  border-radius: 50px;
  background: #3c4f58;
  box-shadow:  -8px 8px 16px #33434b,
               8px -8px 16px #455b65;
  position: sticky;
  top: -15px;
}
li {
  padding: 1rem;
  margin: .6rem;
  margin-right:38%;
  font-family: "Urbanist";
  background: linear-gradient(rgb(26, 255, 179) 50%, rgba(255, 166, 0, 0.801),  );
  border-radius: 84px;
  box-shadow: 0.5px 2.5px px rgb(255, 0, 0);
  border-top-left-radius: 5px;
  text-align: left;
  font-size:12px;
}
footer {
  display:block;
  
}

.card
ul {
  display: block;
  list-style-type: none;
  align-content: left;
  justify-items: left;
  overflow: none;
  overflow-y: scroll;
}
